<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,100}</string>
                <key>spriteSourceSize</key>
                <string>{1024,100}</string>
                <key>textureRect</key>
                <string>{{780,1},{1024,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{393,327}</string>
                <key>spriteSourceSize</key>
                <string>{413,327}</string>
                <key>textureRect</key>
                <string>{{204,961},{393,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{393,327}</string>
                <key>spriteSourceSize</key>
                <string>{413,327}</string>
                <key>textureRect</key>
                <string>{{204,1356},{393,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{393,327}</string>
                <key>spriteSourceSize</key>
                <string>{413,327}</string>
                <key>textureRect</key>
                <string>{{533,1027},{393,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{393,327}</string>
                <key>spriteSourceSize</key>
                <string>{413,327}</string>
                <key>textureRect</key>
                <string>{{533,1356},{393,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mountain1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{934,388}</string>
                <key>spriteSourceSize</key>
                <string>{934,404}</string>
                <key>textureRect</key>
                <string>{{390,1},{934,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mountain2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-15}</string>
                <key>spriteSize</key>
                <string>{744,201}</string>
                <key>spriteSourceSize</key>
                <string>{790,231}</string>
                <key>textureRect</key>
                <string>{{1,961},{744,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{958,387}</string>
                <key>spriteSourceSize</key>
                <string>{986,387}</string>
                <key>textureRect</key>
                <string>{{1,1},{958,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{927,1750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f580c035752afec8681f1b0d47563ef1:a2d9258fad66f8c0ac6aaeaf6e7d6fab:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
